/* structure */
/*#sub_nav {display:block; height:23px; background:url('http://orghub.com/media/images/pages/sub_nav.png') top center no-repeat;}
#main_middle {display: block;background: url('http://orghub.com/media/images/pages/main_middle.png') top center repeat-y;}
#main_bottom {display: block; height: 18px; background: url('http://orghub.com/media/images/pages/main_bottom.png') top center no-repeat;}
*/
#body_header, #nav_header {background:url(http://orghub.com/media/images/listing/body-header.png) top center no-repeat;height:20px;}
#body_main, #nav_main {background:url(http://orghub.com/media/images/listing/body-background.png) center repeat;}
#body_footer, #nav_footer {background:url(http://orghub.com/media/images/listing/body-footer.png) top center no-repeat;height:20px;}
.listing {padding-top:1em;padding-bottom:1em;border-bottom:1px dotted #666;height:120px;background:#fff;}
.listing.first {border-top:1px dotted #666;}
.listing.odd {background:#efefef;}
.listing h3 {font-size:24px/1.5;text-align:left;font-weight:bold;font-variant:italic;}
#filter span {border-bottom:1px dotted #666;padding-bottom:0.25em;}
#filter {margin-bottom:2em;}
/* subnav */
#sub_nav ul {display:block;padding-top:4px;}
/*#sub_nav ul li {width:98px; height:81px;display:block;float:left;text-align:center;}*/
#sub_nav ul li:hover {background: url('http://orghub.com/media/images/pages/icon_current.png') no-repeat 0 5px;}
#sub_nav ul li a {width:97px; text-decoration:none; color: black; height:23px;display:block;padding-top:61px;text-transform:uppercase;font-size:12px;font-weight:bold;background-position: 5px 10px;}
#sub_nav div {display:inline;border-right:1px dotted #666;padding-left:1.5em;padding-right:1.5em;}
#sub_nav .last {border-right:none;}